.sl_gallery {
	position: relative;
	margin: $spacing--xl auto;

	@include breakpoint (large only) {
		margin: $spacing--lg auto;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		margin: $spacing--md auto ;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		margin: $spacing--sm auto;
	}//end small down breakpoint

	&__image {
		min-height: 400px;
		border-radius: $border-radius;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
	}//end &__image

	.sl_button--gallery {
		font-size: 1.5rem;
		position: absolute;
		top: calc(50% -12.5px);
		color: get-color(inverse);
		z-index: 1;
		text-shadow: 0 3px 8px rgba(53,0,42,0.50);

		&.sl_prev {
			left: $spacing--xs;
			&:after {
				@include fontawesome ($content: '\f053');
			}//end &:after
		}//end &.sl_prev

		&.sl_next {
			right: $spacing--xs;
			&:after {
				@include fontawesome ($content: '\f054');
			}//end &:after
		}//end &.sl_next
	}//end .sl_button--gallery

	.slick-dots {
        position: absolute;
        bottom: $spacing--sm;
        margin: 0;
        z-index: 1;
        left: 0;
    	right: 0;
    	text-align: center;

        @include breakpoint (small only) {
            bottom: $spacing--xs;
        }//end small only breakpoint

        li {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: 0 5px;
            cursor: pointer;

            @include breakpoint (small only) {
                margin: 0 4px;
                width: 12px;
                height: 12px;
            }//end small only breakpoint

            &.slick-active {
                button {
                    background-color: get-color(inverse)
                }//end button
            }//end &.slick-active

            button {
                background-color: transparent;
                border-radius: 50%;
                font-size: 0;
                line-height: 0;
                display: block;
                width: 16px;
                height: 16px;
                cursor: pointer;
                border: 1.5px solid get-color(inverse);

                @include breakpoint (small only) {
                    width: 12px;
                    height: 12px;
                    border-width: 1px;
                }//end small only breakpoint
            }//end button
        }//end li
    }//end .slick-dots
}//end .sl_gallery