.sl_card {
	padding: $spacing--lg;
	width: 100%;
	
	@include breakpoint (large down) {
		padding: $spacing--md;
	}//end large down breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md $spacing--sm;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		.sl_card--deck &, .sl_card--slide & {
			min-height: 225px;

			@include breakpoint (small down) {
				min-height: 175px;
			}//end small down breakpoint
		}//end .sl_card--deck &
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		.sl_card--deck &, .sl_card--slide & {
			padding: $spacing--md $spacing--sm;

			@include breakpoint (medium only) {
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_deck &
	}//end &__content

//-----------------
//TYPES
//-----------------

	&--billboard {
		padding: 0;
	}//end &--billboard

	&--deck, &--slide {
		padding: 0;
		height: 100%;
		background-color: get-color(inverse);
		box-shadow: $shadow;
		border-radius: $border-radius;
		overflow: hidden;

		h3 {
			margin-bottom: $spacing--xs;
		}//end h3
	}//end &--deck, &--slide

	&--staff {
		padding: 0;
	}//end &--staff

	&--spotlight, &--global_cta {
		padding: 0;
		text-align: center;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@include breakpoint (medium down) {
			flex-direction: column;
		}//end small down breakpoint
	}//end &--spotlight

	&--intro {
		padding: $spacing--lg $spacing--lg $spacing--lg 0;

		@include breakpoint (small down) {
			padding: $spacing--sm;
			padding-bottom: $spacing--lg;
		}//end small down breakpoint
	}//end &--intro

	&--wysiwyg {
		padding: 0;
	}//end &--wysiwyg

	&--search, &--results {
		background-color: get-color(inverse);
		border-radius: $border-radius;
		box-shadow: $shadow;
	}//end &--search, &--results

	&--map {
		padding: 0;

		h3 {
			font-size: 1.125rem;
			margin-bottom: 0;
		}//end h3
	}//end &--map

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
}
