body.error404 {
	background-color: get-color(primary);
	.sl_content {
		padding: $spacing--xxl 0;
		
		&__related {

			.sl_inner {
			}//end .sl_inner
		}//end &__related
	}//end .sl_content
}//end &__related