//Default Page Template
body.page-template-default {
	background-color: get-color(primary);
	
	&.sl_body--intro {
		background-color: get-color(inverse);
	}//end .sl_body--intro
	.sl_content {
		.sl_intro {
			padding: $spacing--xxl 0;
			position: relative;

			&:after {
				@include pseudo;
				background-color: get-color(primary);
				top: 0;
				bottom: $spacing--lg + $spacing--xxl;
				left: 0;
				right: 0;
			}//end &:after

			p {
				font-size: 1.25rem;
			}//end p

			@include breakpoint (small down) {
				padding: 0;
				background-color: get-color(accent1);

				.sl_breadcrumbs {
					display: none;
				}//end .sl_breadcrumbs
			}//end small down breakpoint

			.sl_inner {
				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end .sl_inner

			&__media {
				border-radius: $border-radius;
				overflow: hidden;

				@include breakpoint (small down) {
					border-radius: 0;
				}//end small down breakpoint

				&__container {
					position: relative;
					width: 100%;
					height: 100%;
					min-height: 375px;

					@include breakpoint (small down) {
						min-height: 200px;
					}//end small down breakpoint
				}//end &__container
			}//end &__media

			&__image {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}//end &__image

			&__content {
				display: flex;
				align-items: center;
				margin-left: auto;
				position: relative;
				z-index: 2;
				padding-bottom: $spacing--lg;

				@include breakpoint (small down) {
					padding-bottom: 0;
				}//end small down breakpoint

				.sl_button-group {
					justify-content: flex-start;
				}//end .sl_button-group
			}//end &__content

			p {
				font-size: 1.25rem;

				&:last-of-type {
					margin-bottom: $spacing--md;
				}//end &:last-of-type;

				&:last-child {
					margin-bottom: 0;
				}//end &:last-child
			}//end p

			@include breakpoint (small down) {
				h1 {
					margin-bottom: $spacing--xs;
				}//end h1
			}//end small down breakpoint
		}//.sl_intro

		&__intro {
			p {
				font-size: 1.25rem;
			}//end p
		}//end &__intro

		&__body {
			padding: $spacing--lg 0;

			&--narrow {
			}//end &--narrow
		}//end &__body

		&__sidebar {
			padding-left: $spacing--lg;
		}//end &__sidebar

		&__global_cta {
			@include pattern;
			padding: $spacing--xxl 0;

			@include breakpoint (large only) {
				padding: $spacing--xl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			h2 {
				color: get-color(inverse);
			}//end h2

			p {
				font-weight: $font-weight--medium;
				font-size: 1.5rem;
				color: get-color(inverse);
			}//end p

			.sl_card {
				max-width: 1040px;

				&__content {
					flex: 0 1 auto;
					padding-right: $spacing--sm;
				}//end &__content
			}//end .sl_card

			.sl_button-group {
				flex: 1 1 auto;

				@include breakpoint (medium down) {
					margin-top: $spacing--sm;
					align-items: initial;
				}//end medium down breakpoint
			}//end .sl_button-group
		}//end &__global_cta
	}//end .sl_content
}//end body.default
