{% extends "base.twig" %}

{% block content %}

{# Check for Featured Image #}
{% if post.thumbnail %}
	<div class="sl_content__header sl_intro">
		<div class="sl_inner">
			{{ function('get_breadcrumb') }}
			<div class="sl_row">
				
				{# INTRO CONTENT #}
				<div class="sl_intro__content sl_cell large-6">
					<div class="sl_intro__card sl_card sl_card--intro">

						<h1>{{post.title}}</h1>

						{# PARAGRAPH #}
						{% if pagesettings.intro %}
							{{pagesettings.intro|wpautop}}
						{% endif %}

						{# BUTTONS #}
			    		{% if pagesettings.buttons %}
							{% include "card-button.twig" with { card : pagesettings } %}
						{% endif %}

					</div>{# /.sl_intro__card.sl_card.sl_card--intro #}
				</div>{# /.sl_intro__content.sl_cell.auto #}

				{# INTRO MEDIA #}
		 		<div class="sl_intro__media sl_cell large-6">
		 			<div class="sl_intro__media__container">
		 				<div class="sl_intro__image" style="background-image: url({{ post.thumbnail.src() }}">

						</div>{# /.sl_intro__image #}
		 			</div>{# /.sl_intro__media__container #}
		 		</div>{# /.sl_intro__media #}
		 	</div>{# /.sl_row #}
		</div>
	</div>	
{% endif %}

{# Breadcrumbs #}
{% if post.thumbnail == null %}
<div class="sl_breadcrumbs__container">
	<div class="sl_inner">
	{{ function('get_breadcrumb') }}
	</div>{# /.sl_inner #}
</div>{# /.sl_breadcrumbs__container #}
{% endif %}

<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body {% if post.sidebar == 1 or post.thumbnail == null %}sl_content__body--narrow{% endif %}">
		<div class="sl_inner">

			<div class="sl_row">
				<div class="sl_cell {% if post.sidebar == 0 and post.thumbnail %} large-12{% else %} large-8 {% endif %} sl_content__main">
					
					{# If No Featured Image #}
					{% if post.thumbnail == null %}
						<h1>{{post.title}}</h1>
					{% endif %}

					{# PARAGRAPH #}
					{% if pagesettings.intro and post.thumbnail == null %}
						<div class="sl_content__intro">
							{{pagesettings.intro|wpautop}}
						</div>
					{% endif %}

					<main id="main" class="sl_main">
						{{post.content}}
					</main>{# /.sl_main #}
				</div>{# /.sl_cell.large-8.xlarge-9 #}

				{% if post.sidebar == 1 %}
				<div class="sl_cell large-4 show-for-large sl_content__sidebar">
					<div data-sticky-container class="sl_sidebar">
						<div data-sticky class="sl_sidebar__container sl_sticky"  data-anchor="main">
							{% include "sidebar.twig" with {'menu': menu.get_items} %}
						</div><!-- end #sidebarcontent -->
					</div><!-- end sticky container -->
				</div>{#  /.sl_cell.large-4.xlarge-3.show-for-medium #}

				{% endif %}
			</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</section>{# /.sl_content--body #}

	{# Location Module  #}
	{% if post.map == 1 %}
	<div class="sl_module sl_module--location sl_location sl_location--inverse">
		<div class="sl_inner">

	 	{% if option.address %}
		<div class="sl_row">

			{# DUO MEDIA #}
			<div class="sl_location__map sl_cell large-6">
			{# GOOGLE MAP #}
			    {% include 'card-google-map.twig' with { map : option.address } %}
			</div>{# /.sl_location__map #}

			{# DUO CONTENT #}
			<div class="sl_location__content sl_cell large-6">
				<div class="sl_location__card sl_card sl_card--location">

				    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				        <span class="sl_location__facility" itemprop="name"><strong>{{option.address.location_name}}</strong></span><br>
				        <span itemprop="streetAddress">{{option.address.street_address}}</span><br>
				        <span itemprop="addressLocality">{{option.address.city}}, {{option.address.state}}</span> 
				        <span itemprop="postalCode">{{option.address.zip_code}}</span><br>
				    </p>

				    <p><a class="sl_location__phone InfinityNumber" href="tel:{{option.phone.main}}" style="white-space:nowrap;">{{option.phone.main}}</a></p>

				    <a class="sl_button" href="https://www.google.com/maps/dir/?api=1&destination={{option.address.google_map.lat}},{{option.address.google_map.lng}}" target="_blank" rel="noreferrer">Get Directions</a>
				</div>{# /.sl_location__card #}
			</div>{# /.sl_location__content #}
		</div>{# /.sl_row #}
		{% endif %} 
	 	</div>{# /.sl_inner #}
	 </div>{# /.sl_module.sl_module--location.sl_location #}
	{% endif %}

	{# Global CTA  #}
	{% if option.global_cta.wysiwyg %}
	<div class="sl_content__global_cta">
		<div class="sl_inner">
			<div class="sl_card sl_card--global_cta">
				{% if option.global_cta.wysiwyg %}
				<div class="sl_card__content">
					{{ option.global_cta.wysiwyg|wpautop }}
				</div>
				{% endif %}

				{# BUTTONS #}
				{% if option.global_cta.buttons %}
					{% include "card-button.twig" with { card : option.global_cta } %}
				{% endif %}
			</div>{# /.sl_card #}
		</div>{# /.sl_inner #}
	</div>{# /.sl_content__global_cta #}
	{% endif %}
</article>{# /.post-type-{{post.post_type}} #}
{% endblock %}