<div id="sl_footer" class="sl_footer">

	<div class="sl_footer__menu">
		<div class="sl_inner">

			<div class="sl_row">
				<div class="sl_cell large-4 medium-6 sl_footer__branding">

					{# FOOTER Logos #}
					{% include "partials/footer/footer-logos.twig" %}

					{# SOCIAL ICONS#}
					{% include "partials/footer/social-media.twig"  %}

				</div>{# /.sl_footer__branding #}

				<div class="sl_cell large-8 medium-6 sl_footer__navigation">
					<div class="sl_row">
						{# FOOTER MAIN MENU #}
						<div class="sl_cell show-for-large">

							{# If Menu Exists #}
							{% if menu.theme_location != null %}
				    			{% include "footer/footer-menu.twig" with {'menu': menu.get_items }%}
				    		{% endif %}
				    	</div>{# /.sl_cell #}

				    	{# FOOTER ADDRESS #}
				    	<div class="sl_cell">
				    		{% include "footer/address.twig" %}
				    	</div>{# /.sl_cell #}
				    </div>{# /.sl_row #}
				</div>{# /.sl_footer__navigation#}

    		</div>{# /.sl_row #}
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu#}

	{# Info #}
    <div class="sl_footer__info">
		<div class="sl_inner">

			{# FOOTER WYSIWYG #}
			{% if option.footer_wysiwyg %}
				{{option.footer_wysiwyg}}
			{% endif %}

			{# FOOTER LINKS #}
			{% if footer_menu.theme_location == 'footer-menu' %}
				{% include "footer/footer-menu.twig" with {'menu': footer_menu.get_items } %}
			{% endif %}
			
			{# COPYRIGHT #}
  			<p>&copy; {{ now|date('Y') }} {{ bloginfo('name') }}. All Rights Reserved.</p>

		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__info #}
</div>{# /.sl_footer #}