{% extends "module.twig" %}

{% block card %}
	<div class="sl_card sl_card--spotlight">
		{% if module.header or module.wysiwyg %}
		<div class="sl_card__content">

			{# HEADER  #}
			{% if module.header %} 
				<h2>{{ module.header }}</h2>
			{% endif %}
			
			{# PARAGRAPH #}
			{% if module.wysiwyg %}
				{{ module.wysiwyg|wpautop }}
			{% endif %}

		</div>{# /.sl_card__content #}
		{% endif %}
		
		{# BUTTONS #}
		{% if module.buttons %}
			{% include "card-button.twig" with { card : module } %}
		{% endif %}
	</div>{# /.sl_card--spotlight #}
{% endblock %}