{# Billboard Logic for Two Image Sizes #}
{% if module.billboard_image.large and module.billboard_image.small %}
<div class="show-for-medium sl_module sl_module--{{this.acf_fc_layout}} sl_{{this.acf_fc_layout}} {{this.class}}" style="background-image: url({{Image(module.billboard_image.large).src}})">
	<div class="sl_inner">
		{{ block('card') }}
	</div>{# /.inner #}
</div>{# /.module #}

<div class="hide-for-medium sl_module sl_module--{{this.acf_fc_layout}} sl_{{this.acf_fc_layout}} {{this.class}}" style="background-image: url({{Image(module.billboard_image.small).src}})">
	<div class="sl_inner">
		{{ block('card') }}
	</div>{# /.inner #}
</div>{# /.module #}
{# End Billboard Logic for Two Image Sizes #}

{% else %}

{# All other modules #}
<div id="{{this.acf_fc_layout}}--{{loop.index}}" class="sl_module sl_module--{{this.acf_fc_layout}} sl_{{this.acf_fc_layout}} {% if module.type_select %}sl_{{this.acf_fc_layout}}--{{module.type_select}}{% endif %} {{this.class}}
{# Duo Logic #}
{% if module.media_position == "right" %}sl_duo--right{% endif %} {% if module.media %}sl_duo--{{module.media}}{% endif %}"


{# Billboard Logic #}
{% if module.billboard_image.large and module.billboard__image.small == null %}style="background-image: url({{Image(module.billboard_image.large).src}})"{% endif %}>
	<div class="sl_inner">
		{% block card %}
			{% include "card.twig" %}
		{% endblock %}
	</div>{# /.inner #}
</div>{# /.module #}
{% endif %}

 

