{% extends "module.twig" %}

{% block card %}
	<div class="sl_card sl_card--billboard">


		{# Header #}
		{% if module.card.header %}
			<h1>{{ module.card.header }}</h1>
		{% endif %}

		{# Content #}
		{% if module.card.paragraph %}
			{{ module.card.paragraph|wpautop }}
		{% endif %}

		{# Button #}
		{% if module.card.buttons %}
	    	{% include "card-button.twig" with { card : module.card } %}
		{% endif %}	
	</div>

	{% if module.scroll.add_scroll == 1 %}
	<div class="sl_billboard__scroll" data-smooth-scroll>
		<a href="#{{module.scroll.target}}"><i class="fas fa-arrow-circle-down"></i></a>
	</div>
	{% endif %}

{% endblock %}