{% extends "module.twig" %}

{% block card %}
	
	{% if module.header %}
		<h2>{{ module.header }}</h2>
	{% endif %}
 	<div class="sl_row">

		{# TESTIMONIAL MEDIA #}
 		<div class="sl_testimonial__media sl_cell {% if module.media == "video" %}sl_testimonial__media--video{% endif %} large-6">
 			<div class="sl_testimonial__media__container">
 				<div class="sl_testimonial__image" style="background-image: url({{Image(module.testimonial_image).src}})">

	 			{# Check for Video Button #}
	 			{% if module.media == "video" %}
	 				<a class="sl_button sl_button--video" data-open="sl_testimonialvideo--{{loop.index}}"></a>
	 			{% endif %}

				</div>{# /.sl_testimonial__image #}
 			</div>{# /.sl_testimonial__media__container #}
 		</div>{# /.sl_testimonial__media #}
		
		{# TESTIMONIAL CONTENT #}
		<div class="sl_testimonial__content sl_cell large-6">
			<div class="sl_testimonial__slider">

				{% for item in this.testimonial %}
				<div class="sl_testimonial__slide">
					<div class="sl_testimonial__quote">
						{{item.quote|wpautop}}
					</div>

					<p class="sl_testimonial__cite">{{item.cite}}</p>
				</div>{# /.sl_testimonial__slide #}
				{% endfor %}
			</div>{# /.sl_testimonial__slider #}
			<div class="sl_testimonial__controls">
            </div>{# /.sl_testimonial__controls #}
		</div>{# /.sl_testimonial__content.sl_cell.auto #}
 	</div>{# /.sl_row #}
	
	{# VIDEO MODAL #}
	{% if module.media == "video" %}
	 	<div class="reveal sl_reveal sl_reveal--video" id="sl_testimonialvideo--{{loop.index}}" data-reveal data-reset-on-close="true">
			<div class="responsive-embed widescreen">
				{{ function('do_shortcode', module.video_embed)}}
	    	</div>
	        <button class="close-button" data-close aria-label="Close modal" type="button">
	            <span class="fa fa-times"></span>
	        </button>
		</div>{# reveal.video #}
	{% endif %}

{% endblock %}