{% extends "module.twig" %}

{% block card %}

    {# IF DECK #}
    {% if module.type_select == "deck" %}
        <div class="sl_row sl_staff__deck {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">
        {# STAFF #}
        {% for staff in Post(module.staff) %}
            
            <div class="sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" %}{% endif %}">
                {% if staff.content %}
                    <a href="/about/staff/{{staff.slug}}/">
                {% endif %}
                <div class="sl_staff__image" {% if staff.thumbnail.src() %}style="background-image:url({{ staff.thumbnail.src() }})"{% endif %}>
                    <div class="sl_staff__info">
                        <h3>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, {{staff.certifications}}{% endif %}</h3>
                        <h4>{{staff.staff_title}}</h4>
                    </div>{# /.sl_staff__info #}
                </div>{# /.sl_staff__image #}

                 {% if staff.content %}
                    </a>
                {% endif %}
            </div>{# /.sl_cell #}
        {% endfor %}

         </div>{# /.sl_row #}
    {% endif %}
    
    {# IF DUO SLIDER #}
    {% if module.type_select == "slider" %}
    <div class="sl_row sl_staff__duo">
        
        {# STAFF CONTENT #}
        <div class="sl_staff__content sl_cell large-6 medium-12">
            <div class="sl_staff__card sl_card sl_card--staff">

                {# PRE HEADER #}    
                {% if module.card.pre_header %}
                    <h5>{{ module.card.pre_header }}</h5>
                {% endif %}

                {# HEADER  #}
                {% if module.card.header %} 
                    <h2>{{ module.card.header }}</h2>
                {% endif %}
                
                {# PARAGRAPH #}
                {% if module.card.paragraph %}
                    {% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
                {% endif %}
                
                {# BUTTONS #}
                {% if module.card.buttons %}
                    {% include "card-button.twig" with { card : module.card } %}
                {% endif %}

            </div>{# /.sl_staff__card.sl_card.sl_card--staff #}
        </div>{# /.sl_staff__content.sl_cell.auto #}

        {# STAFF MEDIA #}
        <div class="sl_staff__media sl_cell large-6 medium-12">
            <div class="sl_staff__slider">

            {# STAFF #}
            {% for staff in Post(module.staff) %}
                <div class="sl_staff__image" {% if staff.thumbnail.src() %}style="background-image:url({{ staff.thumbnail.src() }})"{% endif %}>
                    <div class="sl_staff__info">
                        {% if staff.content %}
                            <a href="/about/staff/{{staff.slug}}/">
                        {% endif %}
                            <h3>{{staff.first_name}} {{staff.last_name}}{% if staff.certifications %}, {{staff.certifications}}{% endif %}</h3>
                            <h4>{{staff.staff_title}}</h4>
                        {% if staff.content %}
                            </a>
                        {% endif %}
                    </div>{# /.sl_staff__info #}
                </div>{# /.sl_staff__image #}
            {% endfor %}

            </div>{# /.sl_staff_slider #}
            
            <div class="sl_staff__controls">
            </div>{# /.sl_staff__controls #}

        </div>{# /.sl_staff__media #}
    </div>{# /.sl_row #}
    {% endif %}
    
    
{% endblock %}
