<div class="sl_footer__accreditations">
	<div class="sl_inner">
		<h2>Accredited, certified and, most of all, trusted.</h2>

		<div class="sl_row medium-up-2 large-up-4">

		{# Legitscript #}
		<div class="sl_cell">
			<div class="sl_logo sl_logo--legitscript">
				{% if option.legitscript.legitscript_check %}{{option.legitscript.legitscript_script}}{% endif %}
			</div>
			<h3>LegitScript</h3>
			<a data-toggle="legitscript" class="sl_accred-toggle hide-for-medium">Learn More</a>
			<p id="legitscript" data-toggler="active">LegitScript verification confirms that we follow all applicable laws and regulations. This third-party certification demonstrates that we have been vetted and proven our commitment to integrity and transparency.</p>
		</div>{# /.sl_cell #}

		{# NAATP #}
		<div class="sl_cell">
			<div class="sl_logo sl_logo--naatp">
				<a href="https://www.naatp.org/resources/addiction-industry-directory/201/foundations-recovery-network" target="_blank"><img src="https://www.naatp.org//civicrm/file?reset=1&id=4087&eid=201&fcs=1f26e81149c63e3ea4639b16e1ccf9e6a66df075bd944bb7ddb8b7024507c576_1585039261_87600"></a>
			</div>
			<h3>NAATP</h3>
			<a data-toggle="naatp" class="sl_accred-toggle hide-for-medium">Learn More</a>
			<p id="naatp" data-toggler="active">NAATP has been the addiction service profession’s vision, voice and thought leader since 1978. NAATP is a nonprofit professional society of top treatment providers throughout the continuum of care.</p>

		</div>{# /.sl_cell #}

		{# Joint Commission #}
		<div class="sl_cell">
			<div class="sl_logo sl_logo--jointcommission">
				<img src="{{site.url}}/wp-content/themes/slate/dist/img/accreditations/jointcommission-logo.png">
			</div>
			<h3>Joint Commission</h3>
			<a data-toggle="jointcommission" class="sl_accred-toggle hide-for-medium">Learn More</a>
			<p id="jointcommission" data-toggler="active">The Gold Seal of Approval from the Joint Commission recognizes our commitment to safety and quality of care. The Joint Commission ensures healthcare providers meet the highest standards.</p>
		</div>{# /.sl_cell #}

		{# CARF #}
		<div class="sl_cell">
			<div class="sl_logo sl_logo--carf">
				<img src="{{site.url}}/wp-content/themes/slate/dist/img/accreditations/carf-logo.png">
			</div>
			<h3>CARF</h3>
			<a data-toggle="carf" class="sl_accred-toggle hide-for-medium">Learn More</a>
			<p id="carf" data-toggler="active">The Commission on Accreditation of Rehabilitation Facilities focuses on both quality of treatment and results. It signals our commitment to peak performance and quality care for our patients.</p>
		</div>{# /.sl_cell #}


		</div>{# /.sl_row #}
	</div>{# /.sl_inner #}
</div>{# /.sl_footer_accreditations #}
