.sl_billboard {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 60%;
	background-color: get-color(accent2);
	min-height: 575px;
	display: flex;
	align-items: flex-start;
	padding: $spacing--xxl 0 !important;
	position: relative;

	@include breakpoint (small down) {
		min-height: 800px;
		display: block;
		background-position: center bottom;
	}//end small down breakpoint

	.sl_inner {
		position: static;
	}//end .sl_inner

	&:after {
		@include pseudo;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: linear-gradient(180deg, rgba(get-color(primary),1) 0%, rgba(196,221,246,0.75) 20%, rgba(216,236,253,0.00) 75%, rgba(get-color(primary),1) 100%);
	}//end &:after

	.sl_card {
		text-align: center;
		position: relative;
		z-index: 1;
	}//end .sl_card

	h1 {
		font-size: rem-calc(48px);
		line-height: 1.1;
		margin-bottom: $spacing--sm;

		span {
			color: get-color(accent2);
		}//end span

		@include breakpoint (small down) {
			font-size: rem-calc(32px);
		}//end small down breakpoint
	}//end h1

	&__scroll {
		position: absolute;
		bottom: $spacing--sm;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 1;

		@include breakpoint (small down) {
			bottom: $spacing--xl;
		}//end small down breakpoint

		a {
			font-size: 2rem;
			color: get-color(default);
			@include transition (all, ease-in-out, .2s)

			&:hover {
				color: get-color(secondary);
				@include transition (all, ease-in-out, .2s)
			}//end &:hover
		}//end a
	}//end scroll
	
}//end .sl_module--billboard