.sl_deck {
	.sl_inner {
		@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);
		& > h2 {
			padding-left: $spacing--md/2;
		}//end & > h2

		.sl_cell {
			padding: 0 $spacing--md/2;
			margin-bottom: $spacing--md;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_cell
	}//end .sl_inner

	&__header {
		padding: 0 $spacing--md/2;
		text-align: center;
	}//end &__header

	&__button {
		text-align: center;
	}//end &__button
}//end .sl_deck