.sl_location {
	padding: 0 !important;

	& > .sl_inner {
		max-width: none;
		padding: 0 !important;

		& > .sl_row {
			background-color: get-color(default);
		}//end & > .sl_row
	}//end & > .sl_inner

	&__content {
		max-width: $global-width;
		margin-right: auto;
		padding-right: $spacing--xxl;

		p {
			color: get-color(inverse);
			font-size: rem-calc(26px);
			font-weight: $font-weight--medium;
		}//end p
	}//end &__content

	&__facility {
		font-size: 2rem;
	}//end &__facility

	.sl_module__map {
		height: 100%;
		min-height: 350px;

		@include breakpoint (small down) {
			min-height: 300px;
		}//end small down breakpoint
	}//end .sl_module__map

	&--inverse {
		& > .sl_inner {

			& > .sl_row {
				background-color: get-color(inverse);
			}//end & > .sl_row
		}//end & > .sl_inner

		.sl_location__content {

			p {
				color: get-color(default);
			}//end p
		}//end &__content
	}//end &--inverse
	
}//end .sl_location