.sl_spotlight {
	@include pattern;
	padding-bottom: $spacing--xxl;

	@include breakpoint (large only) {
		padding-bottom: $spacing--xl;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--md;
	}//end small down breakpoint
		
	.sl_inner {
	}//end .sl_inner

	h2 {
		color: get-color(inverse);
	}//end h2

	p {
		font-weight: $font-weight--medium;
		font-size: 1.5rem;
		color: get-color(inverse);
	}//end p

	.sl_card {
		max-width: 1040px;

		&__content {
			flex: 0 1 auto;
			padding-right: $spacing--sm;

			@include breakpoint (medium down) {
				padding: 0;
			}//end small down breakpoint
		}//end &__content
	}//end .sl_card

	.sl_button-group {
		flex: 1 1 auto;

		@include breakpoint (medium down) {
			margin-top: $spacing--sm;
			align-items: initial;
		}//end small down breakpoint
	}//end .sl_button-group

}//end .sl_spotlight