.sl_staff {
	background-color: get-color(primary);

	//DECK TYPE
	&--deck {
		& > .sl_inner {
			@include innerpadding($p-xsmall: $spacing--xs, $p-small: $spacing--sm, $p-medium: $spacing--md, $p-large: $spacing--lg - $spacing--md/2, $p-xlarge: $spacing--xl - $spacing--md/2,$p-xxlarge: $spacing--xxl - $spacing--md/2);
		}//end & > .sl_inner


		.sl_cell {
			padding: 0 $spacing--sm/2;
			margin-bottom: $spacing--sm;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint

			& > a {
				display: block;
			}//end a
		}//end .sl_cell

		.sl_staff__image {
			min-height: 350px;
		}//end .sl_staff__image

	}//end &__deck

	//DUO SLIDER TYPE
	&--slider {
		padding: $spacing--xxl 0;

		@include breakpoint (large only) {
			padding: $spacing--xl 0;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--lg 0;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md 0;
		}//end small down breakpoint
		
		& > .sl_inner {
			padding: 0;
			max-width: none;
		}//end & > >sl_inner
	}//end &--slider

	&__duo {

		.slick-track {
			display: flex;
			align-items: center;
		}//end .slick-track

		.sl_staff__media {
			min-height: 400px;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}//end .sl_staff__media

		.sl_staff__info {
			display: none;

			a {
				display: block;
			}//end a
		}//end .sl_staff__info

		.sl_staff__content {
			max-width: $global-width/2;
			margin-left: auto;
			padding-left: $spacing--xxl;
			padding-right: $spacing--sm;
			display: flex;
			align-items: center;

			@include breakpoint (medium down) {
				max-width: none;
				margin: 0 auto $spacing--md;
				padding: 0 $spacing--sm;
			}//end medium down breakpoint
		}//end .sl_staff__content

		.sl_staff__image {
			background-image: url(#{$path-img}staff/staff_silhouette.jpg);
			height: 250px;
			width: 200px;
			margin: 0 $spacing--sm/2;

			&:focus, &:hover, &.slick-center {
				border: 2px solid get-color(secondary);
				@include transition (all .4s ease-in-out);

				@include breakpoint (medium down) {
					height: 250px;
					width: 200px;
				}//end medium down breakpoint

				.sl_staff__info {
					display: block;
					width: 95%;
					@include transition (all .3s ease-in-out);
				}//end .sl_staff__info
			}//end &focus

			@include breakpoint (medium down) {
				height: 250px;
				width: 200px;

				.sl_staff__info {
					display: block;
				}//end .sl_staff_info

				&:focus, &:hover {
					height: 250px;
					width: 200px;
					outline: none;

				}//end &:focus, &:hover
			}//end medium down breakpoint
		}//end .sl_staff__image
	}//end &__duo

	&__controls {
		margin-top: $spacing--sm;
		color: get-color(secondary);
	}//end &__controls

	&__arrows {
		cursor: pointer;
		&:first-of-type {
			margin-right: $spacing--sm/2;
		}//end &:first-of-type
		&:last-of-type {
			margin-left: $spacing--sm/2;
		}//end &:last-of-type
	}//end &__arrows


	&__image {
		width: 100%;
		background-position: center bottom;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: $border-radius;
		position: relative;
		@include transition (all .3s ease-in-out);
	}//end &__image

	&__info {
		position: absolute;
		bottom: -2px;
		left: -2px;
		z-index: 1;
		background-color: get-color(primary);
		border-radius: 0 $border-radius 0 0;
		padding: $spacing--xs/2;
		@include transition (all .3s ease-in-out);

		h3 {
			font-size: $font-size--regular;
			color: get-color(default);
			margin-bottom: 0;
		}//end h3

		h4 {
			font-size: rem-calc(14px);
			margin-bottom: 0;
			color: get-color(accent2);
		}//end h4
	}//end &__info
}//end .sl_staff