.sl_testimonial {
	&:after {
		@include pseudo;
		background-color: get-color(primary);
		top: 0;
		bottom: $spacing--lg;
		left: 0;
		right: 0;
	}//end &:after

	&:last-of-type, &.sl_module--withbottom {
		&:after {
			bottom: $spacing--lg + $spacing--xxl;
		}//end &:after
	}//end &:last-of-type, &.sl_module--with-bottom

	.sl_inner {
		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
		& > .sl_row {
			& > .sl_cell {
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner

	h2 {
		text-align: center;
		margin-bottom: $spacing--lg;
	}//end h2

	&__media {
		border-radius: $border-radius;
		overflow: hidden;

		@include breakpoint (medium only) {
			margin-top: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			border-radius: 0;
		}//end small down breakpoint

		&__container {
			position: relative;
			width: 100%;
			height: 100%;
			min-height: 360px;

			@include breakpoint (medium down) {
				order: 2;
			}//end medium down breakpoint

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__container

		&--video {
			.sl_testimonial__image {
				display: flex;
				align-items: center;
				padding: 0 $spacing--sm;
				justify-content: center;

			}//end .sl_testimonial__image
		}//end &--video
	}//end &__media

	&__image {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		padding-bottom: $spacing--lg + $spacing--sm;

		@include breakpoint (medium down) {
			order: 1;
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			flex: 0 0 auto;
			padding: 0 $spacing--sm $spacing--md $spacing--sm;
			width: 100%;
		}//end small down breakpoint

		.sl_button-group {
			justify-content: flex-start;
		}//end .sl_button-group
	}//end &__content

	&__slider {
		width: 100%;
	}//end &__slider

	&__slide {
		padding-left: $spacing--lg;

		@include breakpoint (small down) {
			padding-left: 0;
		}//end small down breakpoint
	}//end &__slide

	&__controls {
		margin-top: $spacing--sm;
		color: get-color(secondary);
	}//end &__controls

	&__arrows {
		cursor: pointer;
		&:first-of-type {
			margin-right: $spacing--sm/2;
		}//end &:first-of-type
		&:last-of-type {
			margin-left: $spacing--sm/2;
		}//end &:last-of-type
	}//end &__arrows

	&__quote {
		&:before {
			content: '“';
			font-size: rem-calc(72px);
			display: block;
			color: get-color(accent2);
			line-height: 1;
		}//end &__before

		p {
			font-size: rem-calc(26px);
			line-height: 1.2;
			font-weight: $font-weight--medium;

			@include breakpoint (small down) {
				font-size: 1.125rem;
			}//end small down breakpoint
		}//end p
	}//end &__quote

	&__cite {
		font-size: 1.125rem;
		margin-bottom: 0;

		span {
			font-weight: $font-weight--bold;
			color: get-color(accent2);
		}//end span

		@include breakpoint (small down) {
			font-size: 1.25rem;
		}//end small down breakpoint
	}//end &__cite

	//TESTIMONIAL TYPES

	&.sl_duo--right {
		.sl_testimonial__media {
			order: 2;
		}//end .sl_testimonial__media

		.sl_testimonial__content {
			order: 1;
		}//end .sl_testimonial__content

		.sl_testimonial__slide {
			padding-left: 0;
			padding-right: $spacing--lg;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint
		}//end .sl_testimonial__slide
	}//end &--right
}//.sl_testimonial