{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
	{# Breadcrumbs #}
	<div class="sl_breadcrumbs__container">
		<div class="sl_inner">
		{{ function('get_breadcrumb') }}
		</div>{# /.sl_inner #}
	</div>{# /.sl_breadcrumbs__container #}

	<section class="sl_content__body">
	    <div class="sl_inner">
	    	<div class="sl_row">
	            <div class="sl_cell sl_staff__media">
	                <div class="sl_staff__image" style="background-image:url({{ post.thumbnail.src() }})"></div>{# /.sl_staff__image #}
	            </div>{# /.sl_cell #}
	            <div class="sl_cell large-auto medium-auto sl_staff__content">
	                <h3>{{post.first_name}} {{post.last_name}}{% if post.certifications %}, {{post.certifications}}{% endif %}</h3>
	                <h4>{{post.staff_title}}</h4>
	                {{post.content}}
	            </div>{# /.sl_cell sl_staff__content#}
	        </div>{# /.sl_row #}
	    </div>{# /.sl_inner #}
	</section>
</article>
{% endblock %}
